#idea files
*.ipr
*.iws

# Java Files #
*.class

# Package Files #
# *.jar, we need to checkin gradle/wrapper/gradle-wrapper.jar
*.war
*.ear

# Eclipse files #
.settings
.classpath
.project
.sonar

# IntelliJ files #
.idea
*-local.properties
*-local.yml
*.iml
out

# Gradle files #
.gradle
build

logs
*.log
*.bak